.viewBtn {
  border-radius: 12px;
  border: none;
  padding: 12px 12px;
  width: 276px;
  height: 44px;
  background-color: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  transition: background-color 0.4s ease 0.1s;
  &:hover {
    background-color: #0b44cd;
  }
}
