.wrapper {
  background-color: #f2f4f7;
}
.contentWrapper {
  display: flex;
  margin: 0 auto;
  height: 72px;
  width: 1440px;
  padding: 0 120px;
  align-items: center;
  justify-content: space-between;
}
.logoStyle {
  height: 16px;
}

.link {
  text-decoration: none;
  color: inherit;
  text-align: center;
  &:first-child {
    margin-right: 32px;
  }
}

.active {
  color: #0b44cd;
}
